.Rproj.user
.Rhistory
.RData
.Ruserdata
tmp_plots/with_balance_true_dropout_is_0.pdf
tmp_plots/.ipynb_checkpoints/5k-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/Boruta_4MA-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/Boruta_6-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/CV-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/CV300_4MA-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/cv300_with_balance_true_dropout_is_0.5-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/CV300-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/CVBig-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/de_intersect_plus_bulk_genes_dropout_is_0.05-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/de_intersect_plus_bulk_genes_dropout_is_0.1-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/de_intersect_plus_bulk_genes_dropout_is_0.15-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/de_intersect_plus_bulk_genes_dropout_is_0.2-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/de_intersect_plus_bulk_genes_dropout_is_0.25-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/de_intersect_plus_bulk_genes_dropout_is_0.3-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/de_intersect_plus_bulk_genes_dropout_is_0.35-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/de_intersect_plus_bulk_genes_dropout_is_0.4-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/de_intersect_plus_bulk_genes_dropout_is_0.45-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/de_intersect_plus_bulk_genes_dropout_is_0.5-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/de_intersect_plus_bulk_genes_l2_reg_is_0.01-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/de_intersect_plus_bulk_genes_l2_reg_is_0.1-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/de_intersect_plus_bulk_genes_l2_reg_is_0.15-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/de_intersect_plus_bulk_genes_l2_reg_is_0.2-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/de_intersect_plus_bulk_genes_l2_reg_is_0.25-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/de_intersect_plus_bulk_genes_l2_reg_is_0.3-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/de_intersect_plus_bulk_genes_l2_reg_is_0.35-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/de_intersect_plus_bulk_genes_l2_reg_is_0.4-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/de_intersect_plus_bulk_genes_l2_reg_is_0.45-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/de_intersect_plus_bulk_genes_l2_reg_is_0.5-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/de_intersect_plus_bulk_genes-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/de_intersect-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/DE4-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/DEall-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/dipbg_batch_size_is_128-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/dipbg_batch_size_is_16-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/dipbg_batch_size_is_256-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/dipbg_batch_size_is_32-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/dipbg_batch_size_is_64-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/dipbg_batch_size_is_8-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/dipbg_clipnorm_is_0-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/dipbg_clipnorm_is_1-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/dipbg_clipnorm_is_2-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/dipbg_clipnorm_is_3-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/dipbg_clipnorm_is_4-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/dipbg_clipnorm_is_5-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/dipbg_clipnorm_is_6-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/dipbg_holdout_rate_is_0.1-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/dipbg_holdout_rate_is_0.15-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/dipbg_holdout_rate_is_0.2-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/dipbg_holdout_rate_is_0.25-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/dipbg_holdout_rate_is_0.3-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/dipbg_holdout_rate_is_0.35-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/dipbg_holdout_rate_is_0.4-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/dipbg_holdout_rate_is_0.45-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/dipbg_holdout_rate_is_0.5-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/dipbg_holdout_rate_is_0.6-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/dipbg_holdout_rate_is_0.7-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/dropout_is_0.05-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/dropout_is_0.2-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/final-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/final300-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/final350-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/GEOMX_4_6_0.05_-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/meta_intersect_unionDE-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/meta-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/no_batch_norm_with_balance_true_batch_size_16-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/no_batch_norm_with_balance_true_batch_size_32-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/no_batch_norm_with_balance_true_batch_size_64-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/rep_0-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/rep_1-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/rep_2-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/sig_4_6_0.05-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/sig_4_6_0.1-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/sig9_0.01-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/sig9_0.05-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/sig9-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/v2_dropout_is_0.05-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/v2_dropout_is_0.1-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/v2_dropout_is_0.15-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/var_glorot_normal-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/var_glorot_uniform-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/var_he_normal-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/var_he_uniform-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/var_lecun_normal-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/var_lecun_uniform-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/with_balance_false_dropout_is_0-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/with_balance_false_dropout_is_0.1-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/with_balance_false_dropout_is_0.15-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/with_balance_false_dropout_is_0.2-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/with_balance_false_dropout_is_0.3-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/with_balance_false_dropout_is_0.4-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/with_balance_false_dropout_is_0.5-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/with_balance_true_batch_size_1-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/with_balance_true_batch_size_128-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/with_balance_true_batch_size_16-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/with_balance_true_batch_size_32-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/with_balance_true_batch_size_64-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/with_balance_true_batch_size_8-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/with_balance_true_dropout_is_0-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/with_balance_true_dropout_is_0.1-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/with_balance_true_dropout_is_0.2-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/with_balance_true_dropout_is_0.3-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/with_balance_true_dropout_is_0.4-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/with_balance_true_dropout_is_0.5-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/with_balance_true_dropout_is_0.6-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/with_balance_true_dropout_is_0.7-checkpoint.pdf
tmp_plots/.ipynb_checkpoints/with_balance_true_dropout_is_0.8-checkpoint.pdf
tmp_plots/5k.pdf
tmp_plots/Boruta_4MA.pdf
tmp_plots/Boruta_6.pdf
tmp_plots/CV.pdf
tmp_plots/CV300_4MA.pdf
tmp_plots/cv300_with_balance_true_dropout_is_0.5.pdf
tmp_plots/CV300.pdf
tmp_plots/CVBig.pdf
tmp_plots/de_intersect_plus_bulk_genes_dropout_is_0.05.pdf
tmp_plots/de_intersect_plus_bulk_genes_dropout_is_0.1.pdf
tmp_plots/de_intersect_plus_bulk_genes_dropout_is_0.15.pdf
tmp_plots/de_intersect_plus_bulk_genes_dropout_is_0.2.pdf
tmp_plots/de_intersect_plus_bulk_genes_dropout_is_0.25.pdf
tmp_plots/de_intersect_plus_bulk_genes_dropout_is_0.3.pdf
tmp_plots/de_intersect_plus_bulk_genes_dropout_is_0.35.pdf
tmp_plots/de_intersect_plus_bulk_genes_dropout_is_0.4.pdf
tmp_plots/de_intersect_plus_bulk_genes_dropout_is_0.45.pdf
tmp_plots/de_intersect_plus_bulk_genes_dropout_is_0.5.pdf
tmp_plots/de_intersect_plus_bulk_genes_l2_reg_is_0.01.pdf
tmp_plots/de_intersect_plus_bulk_genes_l2_reg_is_0.1.pdf
tmp_plots/de_intersect_plus_bulk_genes_l2_reg_is_0.15.pdf
tmp_plots/de_intersect_plus_bulk_genes_l2_reg_is_0.2.pdf
tmp_plots/de_intersect_plus_bulk_genes_l2_reg_is_0.25.pdf
tmp_plots/de_intersect_plus_bulk_genes_l2_reg_is_0.3.pdf
tmp_plots/de_intersect_plus_bulk_genes_l2_reg_is_0.35.pdf
tmp_plots/de_intersect_plus_bulk_genes_l2_reg_is_0.4.pdf
tmp_plots/de_intersect_plus_bulk_genes_l2_reg_is_0.45.pdf
tmp_plots/de_intersect_plus_bulk_genes_l2_reg_is_0.5.pdf
tmp_plots/de_intersect_plus_bulk_genes.pdf
tmp_plots/de_intersect.pdf
tmp_plots/DE4.pdf
tmp_plots/DEall.pdf
tmp_plots/dipbg_batch_size_is_128.pdf
tmp_plots/dipbg_batch_size_is_16.pdf
tmp_plots/dipbg_batch_size_is_256.pdf
tmp_plots/dipbg_batch_size_is_32.pdf
tmp_plots/dipbg_batch_size_is_64.pdf
tmp_plots/dipbg_batch_size_is_8.pdf
tmp_plots/dipbg_clipnorm_is_0.pdf
tmp_plots/dipbg_clipnorm_is_1.pdf
tmp_plots/dipbg_clipnorm_is_2.pdf
tmp_plots/dipbg_clipnorm_is_3.pdf
tmp_plots/dipbg_clipnorm_is_4.pdf
tmp_plots/dipbg_clipnorm_is_5.pdf
tmp_plots/dipbg_clipnorm_is_6.pdf
tmp_plots/dipbg_holdout_rate_is_0.1.pdf
tmp_plots/dipbg_holdout_rate_is_0.15.pdf
tmp_plots/dipbg_holdout_rate_is_0.2.pdf
tmp_plots/dipbg_holdout_rate_is_0.25.pdf
tmp_plots/dipbg_holdout_rate_is_0.3.pdf
tmp_plots/dipbg_holdout_rate_is_0.35.pdf
tmp_plots/dipbg_holdout_rate_is_0.4.pdf
tmp_plots/dipbg_holdout_rate_is_0.45.pdf
tmp_plots/dipbg_holdout_rate_is_0.5.pdf
tmp_plots/dipbg_holdout_rate_is_0.6.pdf
tmp_plots/dipbg_holdout_rate_is_0.7.pdf
tmp_plots/dropout_is_0.05.pdf
tmp_plots/dropout_is_0.2.pdf
tmp_plots/final.pdf
tmp_plots/final300.pdf
tmp_plots/final350.pdf
tmp_plots/GEOMX_4_6_0.05_.pdf
tmp_plots/meta_intersect_unionDE.pdf
tmp_plots/meta.pdf
tmp_plots/no_batch_norm_with_balance_true_batch_size_16.pdf
tmp_plots/no_batch_norm_with_balance_true_batch_size_32.pdf
tmp_plots/no_batch_norm_with_balance_true_batch_size_64.pdf
tmp_plots/rep_0.pdf
tmp_plots/rep_1.pdf
tmp_plots/rep_2.pdf
tmp_plots/rep_3.pdf
tmp_plots/sig_4_6_0.05.pdf
tmp_plots/sig_4_6_0.1.pdf
tmp_plots/sig9_0.01.pdf
tmp_plots/sig9_0.05.pdf
tmp_plots/sig9.pdf
tmp_plots/v2_dropout_is_0.05.pdf
tmp_plots/v2_dropout_is_0.1.pdf
tmp_plots/v2_dropout_is_0.15.pdf
tmp_plots/var_glorot_normal.pdf
tmp_plots/var_glorot_uniform.pdf
tmp_plots/var_he_normal.pdf
tmp_plots/var_he_uniform.pdf
tmp_plots/var_lecun_normal.pdf
tmp_plots/var_lecun_uniform.pdf
tmp_plots/with_balance_false_dropout_is_0.1.pdf
tmp_plots/with_balance_false_dropout_is_0.15.pdf
tmp_plots/with_balance_false_dropout_is_0.2.pdf
tmp_plots/with_balance_false_dropout_is_0.3.pdf
tmp_plots/with_balance_false_dropout_is_0.4.pdf
tmp_plots/with_balance_false_dropout_is_0.5.pdf
tmp_plots/with_balance_false_dropout_is_0.pdf
tmp_plots/with_balance_true_batch_size_1.pdf
tmp_plots/with_balance_true_batch_size_128.pdf
tmp_plots/with_balance_true_batch_size_16.pdf
tmp_plots/with_balance_true_batch_size_32.pdf
tmp_plots/with_balance_true_batch_size_64.pdf
tmp_plots/with_balance_true_batch_size_8.pdf
tmp_plots/with_balance_true_dropout_is_0.1.pdf
tmp_plots/with_balance_true_dropout_is_0.2.pdf
tmp_plots/with_balance_true_dropout_is_0.3.pdf
tmp_plots/with_balance_true_dropout_is_0.4.pdf
tmp_plots/with_balance_true_dropout_is_0.5.pdf
tmp_plots/with_balance_true_dropout_is_0.6.pdf
tmp_plots/with_balance_true_dropout_is_0.7.pdf
tmp_plots/with_balance_true_dropout_is_0.8.pdf
sean_ann_python/deprecated_DANN_nbs/.ipynb_checkpoints/Untitled-checkpoint.ipynb
sean_ann_python/deprecated_DANN_nbs/.ipynb_checkpoints/another_DANN-checkpoint.ipynb
sean_ann_python/deprecated_DANN_nbs/.ipynb_checkpoints/autoencoder_prototype-checkpoint.ipynb
sean_ann_python/deprecated_DANN_nbs/.ipynb_checkpoints/Autoencoder_with_Domain-Adversarial_Neural_Network-checkpoint.ipynb
sean_ann_python/deprecated_DANN_nbs/.ipynb_checkpoints/DANN_V3-checkpoint.ipynb
sean_ann_python/deprecated_DANN_nbs/.ipynb_checkpoints/DANN_V4-checkpoint.ipynb
sean_ann_python/deprecated_DANN_nbs/.ipynb_checkpoints/DANN_V5-checkpoint.ipynb
sean_ann_python/deprecated_DANN_nbs/.ipynb_checkpoints/DANN_V6-checkpoint.ipynb
sean_ann_python/deprecated_DANN_nbs/.ipynb_checkpoints/DANN-checkpoint.ipynb
sean_ann_python/deprecated_DANN_nbs/.ipynb_checkpoints/functional_DANN_v1-checkpoint.ipynb
sean_ann_python/deprecated_DANN_nbs/.ipynb_checkpoints/functional_DANN_v2-checkpoint.ipynb
sean_ann_python/deprecated_DANN_nbs/.ipynb_checkpoints/more_DANN-checkpoint.ipynb
sean_ann_python/deprecated_DANN_nbs/.ipynb_checkpoints/R_tmp-checkpoint.ipynb
sean_ann_python/deprecated_DANN_nbs/.ipynb_checkpoints/toy_DANN-checkpoint.ipynb
sean_ann_python/deprecated_ANN_nbs/best_model.h5
sean_ann_python/deprecated_ANN_nbs/.ipynb_checkpoints/basic_ANN_v4-checkpoint.ipynb
sean_ann_python/deprecated_ANN_nbs/.ipynb_checkpoints/basic_ANN_v3_pipeline_prototype-checkpoint.ipynb
sean_ann_python/deprecated_ANN_nbs/.ipynb_checkpoints/basic_ANN_v2-checkpoint.ipynb
sean_ann_python/deprecated_ANN_nbs/.ipynb_checkpoints/basic_ANN_v1-checkpoint.ipynb
sean_rscripts/prior/quantile_norm_all_genes.html
sean_rscripts/prior/modeling_extra_final_quantile_filter.html
sean_rscripts/prior/modeling_extra_final_npn.html
sean_rscripts/prior/modeling_extra_final_copy_quantile.html
sean_ann_python/.ipynb_checkpoints/basic_ANN_v2_high_accuracy-checkpoint.ipynb
sean_ann_python/.ipynb_checkpoints/ANN_parameter_test_pipeline-checkpoint.py
.ipynb_checkpoints/RC_signatures_EDomingo-checkpoint.R
.ipynb_checkpoints/run_models-checkpoint.R
.ipynb_checkpoints/runjob-checkpoint.R
.ipynb_checkpoints/TODO-checkpoint.txt
DE/.ipynb_checkpoints/BulkAnalysisWorkflow_2-checkpoint.Rmd
FunctionalAnalysis/.ipynb_checkpoints/functional_analysis_GEOMX-checkpoint.Rmd
FunctionalAnalysis/.ipynb_checkpoints/functional_analysis_tests-checkpoint.Rmd
ML/.ipynb_checkpoints/modeling_extra_final_sean-checkpoint.Rmd
ML/.ipynb_checkpoints/modeling_extra_final-checkpoint.Rmd
sean_rscripts/.ipynb_checkpoints/RCML_modeling-checkpoint.Rmd
sce_export.h5ad
GEOmx/.ipynb_checkpoints/myGeoMXAnalysisWorkflow_2-checkpoint.Rmd
GEOmx/.ipynb_checkpoints/myGeoMXAnalysisWorkflow-checkpoint.Rmd
GEOmx/.ipynb_checkpoints/myGeoMXworkflow_bothCohorts-checkpoint.Rmd
GEOmx/.ipynb_checkpoints/myGeoMXworkflow-checkpoint.Rmd
GEOmx/.ipynb_checkpoints/RCbootstrap-checkpoint.Rmd
GEOmx/.ipynb_checkpoints/RCvariancePartition-checkpoint.Rmd
ML/.ipynb_checkpoints/apply_models_to_GEOmx-checkpoint.Rmd
sean_ann_python/.ipynb_checkpoints/ANN_v3_feature_selection-checkpoint.ipynb
sean_ann_python/.ipynb_checkpoints/de_paolo_test-checkpoint.ipynb
sean_ann_python/.ipynb_checkpoints/differential_expression_testing-checkpoint.ipynb
sean_ann_python/.ipynb_checkpoints/model-checkpoint.png
sean_ann_python/.ipynb_checkpoints/test_graph-checkpoint.png
sean_ann_python/.ipynb_checkpoints/Untitled-checkpoint.ipynb
